
.layout {
    background-image: url("about_pictures/layout.jpg");
    height: 100%;
    width: 100%;
    background-size: cover;
    position: absolute;
}

.black-icon {
    background-image: url("about_pictures/black-icon.jpg");
    height: 400px;
    width: 400px; /* size */
    background-size: cover; /* image not cut */
    position: absolute; /* text on image */
    left: 80%; /* left */
}

.black-icon-1 {
    background-image: url("about_pictures/black-icon-1.jpg");
    height: 300px;
    width: 300px;
    background-size: cover;
    position: absolute;
    top: 65%;
}

.black-icon-2 {
    background-image: url("about_pictures/black-icon-2.jpg");
    height: 400px;
    width: 400px;
    background-size: cover;
    position: absolute;
    left: 80%;
    top: 400px;
}

h1, h2, h3, h4, ul, p  {
    color: white;
    position: relative;
}
