h1, h2, h3, h4, ul {
    color: white;
    position: relative;
}
nav a {
    color: white;
    position: relative;
}
.social-urls a {
    color: white;
    position: relative;
    left: 45%;
}
.github {
    background-image: url("projects_pictures/hellcard-github.png");
    height: 300px;
    width: 800px;
    background-size: cover;
    position: absolute;
    top: 25%;
    left: 30%;
}
.container {
    display: flex;
    justify-content: space-between;
}
.container div h4, .container div h3, .container div a {
    color: white;
}
.container div {
    background-color: #0b0b0b;
}
.banner {
    background-image: url("projects_pictures/banner.gif");
    height: 350px;
    width: 650px;
    background-size: cover;
    left: 35%;
    top: 125%;
    position: absolute;
}
.cats a {
    color: white;
}
.cats {
    left: 44%;
    position: relative;
}
.banner-2 {
    background-image: url("projects_pictures/banner-2.jpeg");
    height: 700px;
    width: 600px;
    background-size: cover;
    position: absolute;
    left: 35%;
}
.banner-3 {
    background-image: url("projects_pictures/banner-3.jpg");
    height: 700px;
    width: 600px;
    background-size: cover;
    position: absolute;
    left: 70%;
}