{% load static %}

<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>about :: hellcard</title>
    <link rel="stylesheet" type="text/css" href="{% static 'blog/about-style.css' %}">
</head>
<body bgcolor="#0E0E10"> 
<dic class="layout"></div>
<div class="girl"></div>
<div class="dsgirl"></div>
<header>
    <h1>Welcome, you can call me hellcard</h1>
</header>

<header>
    <h2>About me</h2>
</header>

<ul>
    <li> Name: <b> hellcard </b></li>
    <li> Age: <b> 16 </b></li>
    <li> I'm interested in: <b> backend development, low-level development, ai, cyber-security, devops </b></li>
    <li> OS: <b> kali linux </b> </li>
    <li> Hobbys: <b> programming, web-development, engineering </b> </li>
    <li> Learning: <b> django </b> </li>
    <li> Working: <b> None </b></li>
    <li> In love: <b> None </b></li>
</ul>

<p align="left">I am a student studying backend development in the Python programming language on the Django framework. <br> In addition to the backend, I am interested in low-level development and programming on microcontrollers and Arduino. <br> In addition to the backend, I plan to study engineering, studying the programming languages ​​C/Java/C++. <br> I am always open to new collaborations and teamwork.</p>

<header>
    <h2>My skills</h2>
</header>

<ul>
    <li> Specialization: <b> backend development </b></li>
    <li> Stack: <b> python, django </b></li>
    <li> Languages: <b> python, bash, c, cpp</b> </li>
    <li> Knowledge: <b> python, django, bash, c, cpp, linux </b></li>
</ul>

</body>
</html>